#content {
		margin-top: 35px;
		height: 90vh;
		border-bottom: 1px solid #eee;
	}
#content .col-xs-8 {
		height: 85vh;
		overflow: auto;
	}
#content .col-xs-4 {
		border-right: 1px solid #eee;
	}
	
#data-table {
		font-family: 'Helvetica Neue';
		font-size: 14px;
		overflow: auto;
		height: 85vh;
	}
	
.table-header {
		background-color: #ccc;
	}
th { font-size: 12px; }
td { font-size: 11px; }
	
label {font-size: 12px;}

#paginate_button {font-size: 12px;}